    <div class="search-sec flights-wrp main-bannr">
        <div class="container">
            <div class="banner-cont-wrap">
                <h1 class="banner-ttl">What’s your travel story?</h1>
                <div class="sub-ttl">Customise your travel experience and talk more about it</div>
                <div class="form-sec">
                        <form (ngSubmit)="widgetForm.valid && onSubmit(widgetForm)" #widgetForm="ngForm">
                                <div class="widget-wrap" *ngIf="!formSubmitted">
                                    <div class="chekbox-radio-group black-theme chk-bx-cont">
                                        <label class="radio-inline" *ngFor="let trip of tripType;" >
                                            <input type="radio" value="{{trip}}" name="flightWay" (change)="flightWayEl(trip)" [(ngModel)]="flightWay" class="fl-one-way" required>{{trip}}
                                        </label> 
                                    </div>
                                    <ul class="widget-form-elements srch-oneway-return" *ngIf="element == tripType[0]">
                                        <li class="custom-field frm-field">
                                            <input type="text" ngModel name="fromDestination" #fromDestination="ngModel" required>
                                            <ul>
                                                <li>Delhi</li>
                                                <li>Mumbai</li>
                                            </ul>
                                            <div class="error-widget" *ngIf="!fromDestination.valid && fromDestination.touched">
                                                <i class="fa-custom-error-icon"></i>
                                                <span class="err-txt">Please enter a valid origin city</span>
                                            </div>
                                        </li>
                                        <li class="custom-field frm-field">                                            
                                            <input type="text"  ngModel name="toDestination" #toDestination="ngModel" required>
                                            <ul>
                                                <li>Delhi</li>
                                                <li>Mumbai</li>
                                            </ul>
                                            <div class="error-widget" *ngIf="!toDestination.valid && toDestination.touched">
                                                <i class="fa-custom-error-icon"></i>
                                                <span class="err-txt">Please enter a valid origin city</span>
                                            </div>
                                        </li>
                                        <li class="search-btn">
                                            <button class="btn btn-primary btn-oneway">Search flights</button>
                                        </li>
                                    </ul>
                                    <ul class="widget-form-elements srch-oneway-return" *ngIf="element == tripType[1]">
                                        <li class="custom-field frm-field">
                                            <input type="text" ngModel name="fromDestination" #fromDestination="ngModel" required>
                                            <ul>
                                                <li>Delhi</li>
                                                <li>Mumbai</li>
                                            </ul>
                                            <div class="error-widget" *ngIf="!fromDestination.valid && fromDestination.touched">
                                                <i class="fa-custom-error-icon"></i>
                                                <span class="err-txt">Please enter a valid origin city</span>
                                            </div>
                                        </li>
                                        <li class="custom-field frm-field">
                                            
                                            <input type="text"  ngModel name="toDestination" #toDestination="ngModel" required>
                                            <ul>
                                                <li>Delhi</li>
                                                <li>Mumbai</li>
                                            </ul>
                                            <div class="error-widget" *ngIf="!toDestination.valid && toDestination.touched">
                                                <i class="fa-custom-error-icon"></i>
                                                <span class="err-txt">Please enter a valid origin city</span>
                                            </div>
                                        </li><li class="custom-field frm-field">
                                            <input type="text" ngModel name="fromDestination" #fromDestination="ngModel" required>
                                            <ul>
                                                <li>Delhi</li>
                                                <li>Mumbai</li>
                                            </ul>
                                            <div class="error-widget" *ngIf="!fromDestination.valid && fromDestination.touched">
                                                <i class="fa-custom-error-icon"></i>
                                                <span class="err-txt">Please enter a valid origin city</span>
                                            </div>
                                        </li>
                                        <li class="search-btn">
                                            <button class="btn btn-primary btn-oneway">Search flights</button>
                                        </li>
                                    </ul>
                                    <ul class="widget-form-elements srch-oneway-return" *ngIf="element == tripType[2]">
                                        <li class="search-btn">
                                            <button class="btn btn-primary btn-oneway">Search flights</button>
                                        </li>
                                    </ul>

                                    <ul class="widget-form-elements srch-oneway-return" *ngIf="element == tripType[3]">
                                        <li class="search-btn">
                                            <button class="btn btn-primary btn-oneway">Search flights + Hotel</button>
                                        </li>
                                    </ul>
                                </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
