<footer>
    <!--17Aug2018 End-->
    <div class="container">
        <a href="#" class="lnk-footer-mob">Footer</a>
        <div class="footer-links-wrap">
            <div class="footer-btm">
                <div class="footer-btm-wrap">
                    <div class="top-dest-cont">
                        <div class="dest-hd">Top 10 Destinations</div>
                        <ul class="border-list">
                            <li>India Tours </li>
                            <li><a href="#">Andaman</a></li>
                            <li><a href="#">Goa</a></li>
                            <li><a href="#">Himachal</a></li>
                            <li><a href="#">Kashmir</a></li>
                            <li><a href="#">Kerala</a></li>
                            <li><a href="#">Darjeeling</a></li>
                            <li><a href="#">Gujarat</a></li>
                            <li><a href="#">Himachal</a></li>
                            <li><a href="/in/en/destinations/ladakh/ladakh.shtml">Ladakh</a></li>
                            <li><a href="#">Nainital</a> <a href="#" class="lnk-more">... <i class="fa-plus-square"></i> </a></li>                            
                        </ul>
                        <ul class="border-list top-gap-sm">
                            <li>Internation Tours </li>
                            <li><a href="#">Austrailia</a></li>
                            <li><a href="#">Bali</a></li>
                            <li><a href="#">Dubai</a></li>
                            <li><a href="#">Egypt</a></li>
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">South Africa</a></li>
                            <li><a href="#">Singapore</a></li>
                            <li><a href="#">Sri Lanka</a></li>
                            <li><a href="#">Switzerland</a></li>
                            <li><a href="#">United Kingdom </a> <a href="#" class="lnk-more"> ... <i class="fa-plus-square"></i> </a></li>                            
                        </ul>
                    </div>
                    <!-- 06Jun2018 starts -->
                    <ul class="footer-links">
                        <li>
                            <h6 class="ftr-ttl"><a href="/in/en/index-destination.shtml">Holiday Destinations</a></h6>
                            <div class="ftr-lnk-cont">
                                <a href="/in/en/destinations/destinations-result.shtml">India</a>
                                <a href="#">Far East</a>
                                <a href="#">Europe</a>
                                <a href="#">USA</a>
                                <a href="#">Australia - New Zealand</a>
                                <a href="#">Africa</a>
                                <a href="#">Middle East</a>
                                <a href="#">Exotic</a>
                            </div>
                        </li>
                        <li>
                            <h6 class="ftr-ttl"><a>Search &amp; Book</a></h6>
                            <div class="ftr-lnk-cont">
                                <a href="/in/en/index-flights.shtml">Flights</a>
                                <a href="/in/en/index-hotel.shtml">Hotels</a>
                                <a href="/in/en/index-flights-hotels.shtml">Flights + Hotels</a>
                                <a href="/in/en/index-cars.shtml">Cars</a>
                                <a href="#">Forex</a>
                                <a href="/in/en/index-insurance.shtml">Inurance</a>
                                <a href="/in/en/index-visa.shtml">Visa</a>
                            </div>
                        </li>
                        <li class="two-in-1">
                            <h6 class="ftr-ttl"><a href="/in/en/collections.shtml">CNK Collections</a></h6>
                            <div class="ftr-lnk-cont">
                                <a href="/in/en/holidays-group/holiday-details.shtml">Duniya Dekho - Group Tours</a>
                                <a href="/in/en/holidays/holiday-details.shtml">FlexiHol - Individual Tours</a>
                                <a href="/in/en/holidays/holiday-details-bd.shtml">Bharat Deko - India Tours</a>
                                <a href="#">Luxury Escapades</a>
                                <a href="/in/en/holidays/holiday-details-ih.shtml">Instant Holidays</a>
                                <a href="http://www.xperientialholidays.com/" target="_blank">Xperiential Holidays</a>
                                <!--18March2019-->
                                <a href="#">Rail Europe Holidays</a>
                                <a href="#">Cruise Holidays</a>
                                <a href="#">Self Drive Holiday</a>
                                <a href="#">Camping</a>
                            </div>
                        </li>
                        <li>
                            <h6 class="ftr-ttl emty"><a href="#">&nbsp;</a></h6>
                            <div class="ftr-lnk-cont">
                                <a href="#">Coach Tours</a>
                                <a href="#">Historical</a>
                                <a href="#">Safari holidays</a>
                                <a href="#">Private Journeys</a>
                                <a href="#">GetAway Goddess</a>
                                <a href="#">Save Now Travel Later</a>
                                <a href="#">Adventure</a>
                                <a href="#">Pilgrimage</a>
                            </div>
                        </li>
                        <li>
                            <h6 class="ftr-ttl"><a>Business</a></h6>
                            <div class="ftr-lnk-cont">
                                <a href="#">Trade Fairs</a>
                                <a href="#">MICE</a>
                                <a href="#">Business</a>                                
                            </div>
                            <h6 class="ftr-ttl"><a>Company Info</a></h6>
                            <div class="ftr-lnk-cont">                                
                                <a href="/in/en/general/about-us.shtml">About Cox & Kings</a>
                                <a href="#">Investor Relations</a>
                                <a href="/in/en/general/press-room/press-release.shtml">Press Releases</a>
                                <a href="#">Franchisee</a>
                                <a href="#">Travel Agent</a>
                                <a href="#">Corporate</a>
                                <a href="#">Employee</a>
                                <a href="#">Contact Us</a>
                                <a href="/in/en/general/our-offices.shtml">Our Offices</a>
                            </div>
                        </li>
                        <li>
                            <ul class="social-list">
                                <li><a href="#" class="lnk-fb"><i class="fa-facebook"></i> </a></li>
                                <li><a href="#" class="lnk-twtr"><i class="fa-twitter"></i></a></li>
                                <li><a href="#" class="lnk-yt"><i class="fa-youtube"></i></a></li>
                                <li><a href="#" class="lnk-li"><i class="fa-linkedin"></i></a></li>
                                <li><a href="#" class="lnk-ig"><i class="fa-instagram"></i></a></li>
                            </ul>
                            <div class="cntct-dtls">
                                <small> Toll free: <span>1800 209 0400 / 098675 65599</span></small>
                                <div class="news-ltr">
                                    <label>Newsletter</label>
                                    <div class="input-holder">
                                        <input type="text" placeholder="Enter email">
                                        <button class="btn btn-blue"> GO </button>
                                    </div>
                                </div>
                            </div>
                            <span><a>Useful Links</a></span>
                            <a href="/in/en/general/user-agreement.shtml">User Agreement</a>
                            <a href="/in/en/general/download-brochure.shtml">Download Brochure</a>
                            <a href="/in/en/general/payment-security.shtml">Payment Security</a>
                            <a href="#">Careers</a>
                            <a href="/in/en/general/privacy-policy.shtml">Privacy Policy</a>
                            <a href="/in/en/general/disclaimer.shtml">Disclaimer</a>
                            <a href="/in/en/general/feedback/before-travel-date/feedback.shtml">Feedback</a>
                            <a href="#">Site Map</a>
                        </li>
                    </ul>
                    <!-- 06Jun2018 end -->
                </div>
            </div>
        </div>
        <!--<div class="top-dest-cont">
	<div class="dest-hd">Top 10 Destinations</div>
	<ul class="border-list">
		<li>India Tours : </li>
		<li><a href="/in/en/destinations/destinations-goa.shtml">Goa</a></li>
		<li><a href="/in/en/destinations/ladakh/ladakh.shtml">Ladakh</a></li>
		<li><a href="#">Kashmir</a></li>
		<li><a href="#">Kerala</a></li>
		<li class="pls-more"><a href="#">+</a></li>
	</ul>
	<ul class="border-list top-gap-xs">
		<li>Internation Tours : </li>
		<li><a href="#">Europe</a></li>
		<li><a href="#">Dubai</a></li>
		<li><a href="#">Bali</a></li>
		<li><a href="#">Singapore</a></li>
		<li class="pls-more"><a href="#">+</a></li>
	</ul>
</div>-->

        <div class="bottom-sec">
            <div class="pull-left">
                <div>Cox & Kings Group Website</div>
                <ul>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/resources/images/common/icons/country-flag/uk.png" alt=""> UK</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/resources/images/common/icons/country-flag/usa.png" alt=""> USA</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/resources/images/common/icons/country-flag/australia.png" alt=""> Australia</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/resources/images/common/icons/country-flag/japan.png" alt=""> Japan</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="../../../assets/resources/images/common/icons/country-flag/dubai.png" alt=""> Dubai</a>
                    </li>
                </ul>
            </div>
            <div class="pull-right copy">&copy; Copyright. Cox & Kings Ltd. All rights reserved.</div>
        </div>
    </div>
</footer>