<header>
    <div class="main-header">
        <div class="container">
            <div class="main-header-cont">
                <div class="logo">
                    <a href="/in/en/index.shtml">
                        <img src="../../../assets/resources/images/common/cnk-logo.png" alt="" class="svg-img">
                    </a>
                </div>
                <a class="toggleMenu pull-right" href="javascript:void(0)" style="display: none;">
                    <div class="nav-bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <div class="desktopnav">
                    <nav class="navbar">
                        <ul class="nav">
                            <li class="holidays"><a href="/in/en/index.shtml" class="nav-holidays">Holidays</a></li>
                            <li class="destinations"><a href="/in/en/index-destination.shtml" class="nav-destinations">Destinations</a></li>
                            <li class="collections"><a href="/in/en/collections.shtml" class="nav-collections">Collections</a></li>
                            <li class="deals"><a href="/in/en/index-deals.shtml" class="nav-deals">Deals </a></li>
                            <li class="blog"><a href="#" class="nav-blog">Blog</a></li>
                        </ul>
                    </nav>
                    <!-- <div class="header-top">
                        <ul>
                            <li class="nav-flights"><a href="#">Flights</a></li>
                            <li class="nav-hotels"><a href="/in/en/index-hotel.shtml" class="active">Hotels</a></li>
                            <li class="nav-flights-hotels"><a href="/in/en/index-flights-hotels.shtml">Flight + Hotel</a></li>
                            <li class="nav-activites"><a href="/in/en/index-activities.shtml">Activities</a></li>
                            <li class="nav-cars nav-hdn"><a href="/in/en/index-cars.shtml">Cars</a></li>
                            <li class="nav-cruise nav-hdn"><a href="/in/en/index-cruise.shtml">Cruises</a></li>
                            <li class="nav-rail nav-hdn"><a href="/in/en/index-rail.shtml">Rail - IRCTC</a></li>
                            <li class="nav-bus nav-hdn"><a href="/in/en/index-bus.shtml">Bus</a></li>
                            <li class="nav-insurance nav-hdn"><a href="/in/en/index-insurance.shtml">Insurance</a></li>
                            <li class="nav-visa nav-hdn"><a href="/in/en/index-visa.shtml">Visa</a></li>
                            <li class="nav-railworldwide nav-hdn"><a href="/in/en/index-rail-worldwide.shtml">Rail - Worldwide</a></li>
                            <li class="nav-more dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">More <i class="caret"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-activites"><a href="/in/en/index-activities.shtml">Activities</a></li>
                                    <li class="nav-cars"><a href="/in/en/index-cars.shtml">Cars</a></li>
                                    <li class="nav-cruise"><a href="/in/en/index-cruise.shtml">Cruises</a></li>
                                    <li class="nav-rail"><a href="/in/en/index-rail.shtml">Rail - IRCTC</a></li>
                                    <li class="nav-bus"><a href="/in/en/index-bus.shtml">Bus</a></li>
                                    <li class="nav-insurance"><a href="/in/en/index-insurance.shtml">Insurance</a></li>
                                    <li class="nav-visa"><a href="/in/en/index-visa.shtml">Visa</a></li>
                                    <li class="nav-railworldwide"><a href="/in/en/index-rail-worldwide.shtml">Rail - Worldwide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-nav container"></div>