<header>
    <div class="top-bar">
            <div class="container">
                <div class="top-bar-lt">
                    <span>Toll free:</span> <b><a href="tel:18002090400">1800 209 0400 <span class="hide">/ 098675 65599</span></a></b>
                </div>
                <div class="top-bar-rt">
                    <ul>
                        <li class="dropdown currency-dropdown">
                            <a href="#" class="dropdown-toggle currency-main-menu" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span>INR</span> <span class="fa fa-inr"></span><span class="caret"></span></a>
                            <div class="dropdown-menu sub-menu currency">
                                <ul class="">
                                    <li><a href="#" data-contryname="AUD" data-contrycurrency="$">Australian Dollar<span>$</span> </a></li>
                                    <li><a href="#" data-contryname="GBP" data-contrycurrency="fa fa-gbp">Pound Sterling<span class="fa fa-gbp lt-fnt"></span> </a></li>
                                    <li><a href="#" data-contryname="BHD" data-contrycurrency="BHD">Bahraini Dinar<span>BHD</span> </a></li>
                                    <li><a href="#" data-contryname="QAR" data-contrycurrency="QAR">Qatari Rial<span>QAR</span> </a></li>
                                    <li><a href="#" data-contryname="THB" data-contrycurrency="THB">Baht<span>THB</span> </a></li>
                                    <li><a href="#" data-contryname="ZAR" data-contrycurrency="$">Rand<span>R</span> </a></li>
                                    <li><a href="#" data-contryname="CAD" data-contrycurrency="$">Canadian Dollar<span>$</span> </a></li>
                                    <li><a href="#" data-contryname="OMR" data-contrycurrency="OMR">Rial Omani<span>OMR</span> </a></li>
                                    <li><a href="#" data-contryname="EUR" data-contrycurrency="fa fa-euro">Euro<span class="fa fa-euro lt-fnt"></span> </a></li>
                                    <li><a href="#" data-contryname="IDR" data-contrycurrency="Rp">Rupiah<span>Rp</span> </a></li>
                                    <li><a href="#" data-contryname="HKD" data-contrycurrency="$">Hong Kong Dollar<span>$</span> </a></li>
                                    <li><a href="#" data-contryname="SAR" data-contrycurrency="SAR">Saudi Riyal<span>SAR</span> </a></li>
                                    <li><a href="#" data-contryname="INR" data-contrycurrency="fa fa-inr" class="fwtb">Indian Rupee<span class="fa fa-inr lt-fnt"></span> </a></li>
                                    <li><a href="#" data-contryname="SGD" data-contrycurrency="fa fa-usd">Singapore Dollar<span>$</span> </a></li>
                                    <li><a href="#" data-contryname="IQD" data-contrycurrency="IQD">Iraqi Dollar<span>IQD</span> </a></li>
                                    <li><a href="#" data-contryname="BDT" data-contrycurrency="BDT">Taka<span>BDT</span> </a></li>
                                    <li><a href="#" data-contryname="KWD" data-contrycurrency="KWD">Kuwaiti Dinar<span>KWD</span> </a></li>
                                    <li><a href="#" data-contryname="AED" data-contrycurrency="AED">UAE Dirham<span>AED</span> </a></li>
                                    <li><a href="#" data-contryname="MYR" data-contrycurrency="M$">Malaysian Ringgit<span>M$</span> </a></li>
                                    <li><a href="#" data-contryname="USD" data-contrycurrency="$">US Dollar<span>$</span> </a></li>
                                    <li><a href="#" data-contryname="NPR" data-contrycurrency="NPR">Nepalese Rupee<span>NPR</span> </a></li>
                                    <li><a href="#" data-contryname="JPY" data-contrycurrency="fa fa-jpy">Yen<span class="fa fa-jpy lt-fnt"></span> </a></li>
                                    <li><a href="#" data-contryname="PKR" data-contrycurrency="Rs.">Pakistan Rupee<span>Rs.</span> </a></li>
                                    <li><a href="#" data-contryname="CNY" data-contrycurrency="fa fa-jpy">Yuan Renminbi<span class="fa  fa-rmb lt-fnt"></span> </a></li>
                                    <li><a href="#" data-contryname="PHP" data-contrycurrency="PHP">Philippine Peso<span>PHP</span> </a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="country-dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img src="../../../assets/resources/images/common/icons/country-flag/ind.png" alt="">
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu theme-01">
                                <ul>
                                    <li>
                                        <div>
                                            <span class="flag-wrap"><img src="../../../assets/resources/images/common/icons/country-flag/ind.png" alt=""></span>
                                            <span class="country-nm">India</span>
                                            <span class="country-lang"><a href="#">English</a> | <a href="#">हिन्दी </a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="flag-wrap"><img src="../../../assets/resources/images/common/icons/country-flag/australia.png" alt=""></span>
                                            <span class="country-nm">Australia</span>
                                            <span class="country-lang"><a href="#">English</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="flag-wrap"><img src="../../../assets/resources/images/common/icons/country-flag/dubai.png" alt=""></span>
                                            <span class="country-nm">Dubai</span>
                                            <span class="country-lang"><a href="#">English</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="flag-wrap"><img src="../../../assets/resources/images/common/icons/country-flag/japan.png" alt=""></span>
                                            <span class="country-nm">Japan</span>
                                            <span class="country-lang"><a href="#">English</a> | <a href="#">日本語</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="flag-wrap"><img src="../../../assets/resources/images/common/icons/country-flag/uk.png" alt=""></span>
                                            <span class="country-nm">UK</span>
                                            <span class="country-lang"><a href="#">English</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="flag-wrap"><img src="../../../assets/resources/images/common/icons/country-flag/usa.png" alt=""></span>
                                            <span class="country-nm">USA</span>
                                            <span class="country-lang"><a href="#">English</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-custom-dl"><a href="/in/en/general/download-app.shtml"><i class="fa-custom-dl-icon"></i></a></li>
                        <li class="nav-gift-cards"><a href="/in/en/gift-cards.shtml"><i class="fa-gift"></i><span>Gift Cards</span></a></li>
                        <li class="nav-recently-viewed">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa-eye"></i><span>Recent Searches</span><span class="badge">2</span></a>
                            <div class="dropdown-menu theme-02">
                                <ul>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper"><i class="fa-custom-hotel"></i></span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Alila Diwa Goa</span>
                                            <span class="sub-txt">4 nights, Thu, 07 Sep - Sun, 10 Sep 2017</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 3,050</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                        <i class="fa-custom-car-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Ford Figo - Oneway</span>
                                            <span class="txt-ttl">Kala Ghoda - Andheri</span>
                                            <span class="sub-txt">SUN, 26 Feb 2017, 12:00 PM, 1Hr</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 800</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- 20Jul2018 Start-->
                        <li class="nav-my-wishlist">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa-custom-heart-gray"></i><span>My wishlist</span><span class="badge">8</span></a>
                            <div class="dropdown-menu theme-02 type2">
                                <ul>
    
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper"><i class="fa-custom-hotel"></i></span>
                                            <span class="txt-wrapper">
                                            <span class="txt-ttl">Park Regency Ocean</span>
                                            <span class="sub-txt">4 Nights, Thu, 07 Sep - Sun, 10 Sep 2017</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 86,520</span>
    
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper"><i class="fa-custom-baggage-purple"></i></span>
                                            <span class="txt-wrapper">
                                            <span class="txt-ttl">Singapore Magic</span>
                                            <span class="sub-txt">4 Days / 3 Nights</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 38,500</span>
    
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                              <i class="fa-custom-car-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Ford Figo - Oneway</span>
                                            <span class="txt-ttl">Kala Ghoda - Andheri</span>
                                            <span class="sub-txt">Sun, 26 Feb 2017, 12:00 PM, 1Hr</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 800</span>
    
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-activities-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                            <span class="txt-ttl">Best of Delhi NCR</span>
                                            <span class="txt-ttl">Ambience Mall</span>
                                            <span class="sub-txt">Sun, 30 Feb 2017, 12:00 PM, 3Hr</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 400</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-flight-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">BOM - GOI - DEL - BOM</span>
                                            <span class="sub-txt">Sun, 26 Feb 2017, 09:25 PM, 4Hr 14Min<br>Mon, 27 Feb 2017, 09:25 PM, 7Hr 40Min</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 15,000</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-flight-hotel-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">BOM - GOI</span>
                                            <span class="sub-txt">Sun, 26 Feb 2017, 09:25 PM, 4Hr 14Min</span>
                                            <span class="txt-ttl">Park Regency Ocean</span><span class="sub-txt">3 Nights, Sun, 26 Feb 2017 - Wed, 01 Mar 2017</span></span>
    
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 15,000</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-cruise-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">Costa Diadema</span>
                                            <span class="txt-ttl">Kuala Lumpur</span>
                                            <span class="sub-txt">4 Nights, Wed, 18 Jul 2017 - Fri, 20 Jul 2017</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 15,000</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
    
                                    <li>
                                        <a href="#" class="cont-wrap">
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-rail-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">Eurostar 9002 </span>
                                            <span class="txt-ttl">London (LON) - Paris NORD (PAR)</span>
                                            <span class="sub-txt">Mon, 07 Aug 2017, 10:25 PM, 3Hr 05Min</span>
                                            <span class="sub-txt">Mon, 25 Aug 2017, 11:30 PM, 3Hr 05Min</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 23,948</span>
                                        </a>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                </ul>
                                <div class="btn-sec">
                                    <a href="#" class="btn btn-primary btn-white">VIEW ALL</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-my-cart">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa-custom-cart"></i><span>My Cart</span><span class="badge">10</span></a>
                            <div class="dropdown-menu theme-02 cart type01">
                                <!-- 12Jan2018 starts -->
                                <ul>
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper"><i class="fa-custom-hotel"></i></span>
                                            <span class="txt-wrapper">
                                            <span class="txt-ttl">Park Regency Ocean</span>
                                            <span class="sub-txt">4 Nights, Thu, 07 Sep - Sun, 10 Sep 2017</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 86,520</span>
    
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper"><i class="fa-custom-baggage-purple"></i></span>
                                            <span class="txt-wrapper">
                                            <span class="txt-ttl">Singapore Magic</span>
                                            <span class="sub-txt">4 Days / 3 Nights</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 38,500</span>
    
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                           
                                            <span class="icon-wrapper">
                                              <i class="fa-custom-car-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Ford Figo - Oneway</span>
                                            <span class="txt-ttl">Kala Ghoda - Andheri</span>
                                            <span class="sub-txt">Sun, 26 Feb 2017, 12:00 PM, 1Hr</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 800</span>
    
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-activities-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                            <span class="txt-ttl">Best of Delhi NCR</span>
                                            <span class="txt-ttl">Ambience Mall</span>
                                            <span class="sub-txt">Sun, 30 Feb 2017, 12:00 PM, 3Hr</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 400</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                           
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-flight-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">BOM - GOI - DEL - BOM</span>
                                            <span class="sub-txt">Sun, 26 Feb 2017, 09:25 PM, 4Hr 14Min<br>Mon, 27 Feb 2017, 09:25 PM, 7Hr 40Min</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 15,000</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-flight-hotel-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">BOM - GOI</span>
                                            <span class="sub-txt">Sun, 26 Feb 2017, 09:25 PM, 4Hr 14Min</span>
                                            <span class="txt-ttl">Park Regency Ocean</span><span class="sub-txt">3 Nights, Sun, 26 Feb 2017 - Wed, 01 Mar 2017</span></span>
    
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 15,000</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                          
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-cruise-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">Costa Diadema</span>
                                            <span class="txt-ttl">Kuala Lumpur</span>
                                            <span class="sub-txt">4 Nights, Wed, 18 Jul 2017 - Fri, 20 Jul 2017</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 15,000</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                          
                                            <span class="icon-wrapper">
                                      <i class="fa-custom-bus-purple"></i>
                                    </span>
                                            <span class="txt-wrapper">
                                          
                                      <span class="txt-ttl">Neeta Tours and Travels</span>
                                            <span class="txt-ttl">Mumbai - Goa</span><span class="sub-txt">A/C Sleeper (2 + 1)<br>Sun, 24 Jun 2017, 08:45 AM, 12Hr</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 1,300</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                           
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-rail-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">Eurostar 9002 </span>
                                            <span class="txt-ttl">London (LON) - Paris NORD (PAR)</span>
                                            <span class="sub-txt">Mon, 07 Aug 2017, 10:25 PM, 3Hr 05Min</span>
                                            <span class="sub-txt">Mon, 25 Aug 2017, 11:30 PM, 3Hr 05Min</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 23,948</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                           
                                            <span class="icon-wrapper">
                                          <i class="fa-custom-insurance-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                          <span class="txt-ttl">Coverwise </span>
                                            <span class="sub-txt">Standard - 24 days per trip</span>
                                            <span class="sub-txt">Wed, 24 Jan 2017</span>
                                            </span>
                                            <span class="price-wrapper"><i class="fa-rupee"></i> 750</span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                </ul>
                                <div class="summary-sec">
                                    <div class="tot-prc">
                                        <span class="txt">TOTAL PRICE</span>
                                        <span class="amt"><i class="fa-rupee"></i> 1,97,218</span>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-checkout">CHECKOUT</a>
                                    <a href="#" class="txt-link btn-clear"><i class="fa-times-circle"></i> Clear Cart</a>
                                </div>
    
                                <!-- 12Jan2018 Ends -->
                                <ul class="lgn-after price-change" style="display:none">
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper"><i class="fa-custom-hotel"></i></span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Park Regency Ocean</span>
                                            <span class="sub-txt">4 nights, Thu, 07 Sep - Sun, 10 Sep 2017</span>
                                            </span>
                                            <span class="price-wrapper"> 
                                        <span class="old-price"><span class="amt"><i class="fa-rupee"></i> 91,520</span> </span>
                                            <span class="amt dcrs"><i class="fa-rupee"></i> 86,520</span>
                                            </span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper"><i class="fa-custom-baggage-purple"></i></span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Singapore Magic</span>
                                            <span class="sub-txt">4 Days / 3 Nights</span>
                                            </span>
                                            <span class="price-wrapper">
                                        <span class="amt"><i class="fa-rupee"></i> 38,500</span>
                                            </span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                    <li>
                                        <label class="cont-wrap">
                                            
                                            <span class="icon-wrapper">
                                        <i class="fa-custom-car-purple"></i>
                                        </span>
                                            <span class="txt-wrapper">
                                        <span class="txt-ttl">Ford Figo - Oneway</span>
                                            <span class="txt-ttl">Kala Ghoda - Andheri</span>
                                            <span class="sub-txt">SUN, 26 Feb 2017, 12:00 PM, 1Hr</span>
                                            </span>
                                            <span class="price-wrapper ">
                                        <span class="old-price"><span class="amt"><i class="fa-rupee"></i> 700</span> </span>
                                            <span class="amt incrs"><i class="fa-rupee"></i> 800</span>
                                            </span>
                                        </label>
                                        <a class="cls-iconwrap" href="#"><i class="fa-times-circle"></i></a>
                                    </li>
                                </ul>
                                <div class="summary-sec" style="display:none">
                                    <div class="tot-prc">
                                        <span class="txt">TOTAL PRICE</span>
                                        <span class="old-price"><span class="amt"><i class="fa-rupee"></i> 1,50,70</span>                                        </span>
                                        <span class="amt"><i class="fa-rupee"></i> 1,25,820</span>
                                        <small class="dcrs">Price decreased</small>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-checkout">CHECKOUT</a>
                                    <a href="#" class="txt-link btn-clear"><i class="fa-times-circle"></i> Clear Cart</a>
                                </div>
                                <!--12Jan2018 End -->
                            </div>
                        </li>
                        <!-- 20Jul2018 End-->
                        <li class="login after-lgn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span>
                            <span class="author-img">
                            <i class="fa-custom-login"></i>
                            </span>
                                <span class="login-txt">Login</span>
                                <span class="caret"></span>
                                </span>
                            </a>
                            <div class="dropdown-menu theme-03 login-sec">
                                <ul>
                                    <li>
                                        <a href="/in/en/login/login.shtml" class="btn btn-primary login-btn">LOGIN</a>
                                        <p class="no-account">Don’t have an account yet?</p>
                                        <a href="/in/en/signup/signup.shtml" class="btn btn-create-account">Create an account</a>
                                    </li>
                                    <li><a href="/in/en/general/manage-booking.shtml" class="cont-wrap"><i class="fa-angle-right"></i>Manage Booking</a></li>
                                    <li><a class="cont-wrap popup-inline" href="#flight-search-result-page-fare-alert"><i class="fa-angle-right"></i>Fare Alerts</a></li>
                                    <!-- 23Feb2018 Starts -->
                                    <li><a class="cont-wrap" href="/in/en/index-flights-search-status.shtml"><i class="fa-angle-right"></i>Flight Status</a></li>
                                    <!-- 23Feb2018 Ends -->
                                </ul>
                            </div>
                        </li>
                        <li class="login before-lgn">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu3a" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="user1">
                            <span class="author-img">
                            <img src="../../../assets/resources/images/common/author-img.jpg" alt="" class="authorImg">
                            </span>
                                <span class="author-nme">Kaushal</span>
                                <span class="caret"></span>
                                </span>
                                <span class="user1 user2" style="display:none;">
                            <span class="author-img">
                            <img src="../../../assets/resources/images/common/customer-3.png" alt="" class="authorImg">
                            </span>
                                <span class="author-nme">Reema</span>
                                <span class="caret"></span>
                                </span>
                            </a>
                            <div class="dropdown-menu theme-03 logout-sec">
                                <!-- 12Jan2018 starts -->
                                <ul>
                                    <li><a href="/in/en/my-account/my-profile.shtml" class="cont-wrap"><i class="fa-angle-right"></i>My Profile</a></li>
                                    <li><a href="/in/en/my-account/my-bookings.shtml" class="cont-wrap"><i class="fa-angle-right"></i>My Bookings</a></li>
                                    <!--25Jan2019-->
                                    <li><a class="cont-wrap popup-inline" href="#flight-search-result-page-fare-alert"><i class="fa-angle-right"></i>Fare Alerts</a></li>
                                    <li><a class="cont-wrap popup-inline" href="#login-to-access-flight-status"><i class="fa-angle-right"></i>Flight Status</a></li>
                                    <li><a href="#" class="cont-wrap btn-logout"><i class="fa-custom-angle-right"></i>Logout</a></li>
                                </ul>
                                <!-- 12Jan2018 ends -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</header>