<div class="floating-btns">
    <ul>
        <li>
            <a href="#enq-popup" id="envelopeFloat"><i class="fa-envelope-o"></i></a>
            <div class="Float-box enquiry-form" id="enq-popup">
                <div class="ttl">
                    Send Enquiry
                    <a href="#" class="close-btn"><i class="fa-custom-close-icon"></i></a>
                </div>
                <div class="form form-sec">
                    <div class="form-group">
                        <div class="row row-sm">
                            <div class="col-xs-12">
                                <div class="row row-sm">
                                    <div class="col-xs-6">
                                        <div class="row row-sm">
                                            <div class="col-xs-4">
                                                <select>
                                                    <option>Title</option>
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                                    <option>Ms.</option>
                                                    <option>Miss.</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="custom-field">
                                                    <div class="holder">
                                                        <span>First Name<sup>*</sup></span>
                                                    </div>
                                                    <input class="" type="text" name="trav[0][firstname]">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-6">
                                        <div class="custom-field">
                                            <div class="holder">
                                                <span>Last Name<sup>*</sup></span>
                                            </div>
                                            <input class="" type="text" name="trav[0][lastname]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-sm">
                            <div class="col-xs-12">
                                <div class="row row-sm">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <input type="text" placeholder="+91" />
                                        <em class="sub-tl">(Must be reachable)</em>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="custom-field">
                                            <div class="holder">
                                                <span>Mobile No.<sup>*</sup></span>
                                            </div>
                                            <input class="" type="text" name="trav[0][phone_num]" value="" maxlength="15">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="custom-field">
                                            <div class="holder">
                                                <span>Email ID<sup>*</sup></span>
                                            </div>
                                            <input class="" type="text" name="" value="" maxlength="15">
                                        </div>
                                        <em class="sub-tl">(Must be contactable)</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-sm">
                            <div class="col-xs-6">
                                <div class="custom-field">
                                    <div class="holder">
                                        <span>From City<sup>*</sup></span>
                                    </div>
                                    <input class="" type="text" name="">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="custom-field">
                                    <div class="holder">
                                        <span>To City / Country<sup>*</sup></span>
                                    </div>
                                    <input class="" type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-sm rd-cont">
                            <div class="col-xs-6">
                                <label><input type="radio" name="tourtype" checked> Group Tour</label>
                                <label><input type="radio" name="tourtype"> Customized Tour</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="custom-field">
                                    <div class="input-append date">
                                        <div class="holder">
                                            <span>Travel Date<sup>*</sup></span>
                                        </div>
                                        <input class="span2" type="text" name="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-sm">
                            <div class="col-xs-6">
                                <div>
                                    <div class="description"><strong>Adult</strong> <small>(+ 12 Yrs)</small><sup class="red">*</sup></div>
                                    <div class="cust-spinner value">
                                        <div class="input-group spinner">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default count-down" type="button"><i class="fa-custom-minus white"></i></button>
                                            </div>
                                            <input type="text" class="form-control" value="1">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default count-up" type="button"><i class="fa-custom-plus white"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="description"><strong>Child</strong> <small>(2 - 12 Yrs)</small></div>
                                <div class="cust-spinner value">
                                    <div class="input-group spinner">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default count-down" type="button"><i class="fa-custom-minus white"></i></button>
                                        </div>
                                        <input type="text" class="form-control" value="0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default count-up" type="button"><i class="fa-custom-plus white"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Your Query (Max 200 characters)"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row row-sm">
                            <div class="col-xs-12">
                                <div class="row row-sm">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <span class="captcha-code-sec">
                                            <img src="../../../assets/resources/images/common/img-captcha-code.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="custom-field">
                                            <div class="holder">
                                                <span>Enter Code Here<sup>*</sup></span>
                                            </div>
                                            <input class="" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chk-group-sec">
                        <div class="tandc btm-gap-sm">
                            <input type="checkbox"> I hereby accept the <a href="#"> privacy policy</a> & authorise Cox &
                            Kings, its partners and representatives to contact me.</div>
                    </div>
                    <a href="#enq-popup-sucess" class="btn btn-primary" id="msgSec">Submit Query</a>
                </div>
            </div>
            <div class="Float-box enquiry-form-sucess" id="enq-popup-sucess">
                <div class="ttl">
                    Send Enquiry
                    <a href="#" class="close-btn"><i class="fa-custom-close-icon"></i></a>
                </div>
                <div class="msg-sec">
                    <p class="success-msg">Query submitted!</p>
                    <p>Thank you for enquiring with Cox &amp; Kings.</p>
                    <p>Your enquiry reference number is <a href="#">#080916/291053</a></p>
                    <p>Our travel expert will get in touch with you soon.</p>
                    <p>Incase you wish to get in touch with us, call us on our toll free number at <b>1800 209 0800</b></p>
                </div>
            </div>
        </li>
        <li>
            <a href="#tollfree-popup" id="tollfreeFloat"><i class="fa-phone"></i></a>
            <div class="Float-box tollfree-call" id="tollfree-popup">
                <div class="ttl">
                    Call toll free
                    <a href="#" class="close-btn"><i class="fa-custom-close-icon"></i></a>
                </div>
                <span class="toll-no">1800 209 0400</span>
            </div>
        </li>
        <li>
            <a href="#chat-popup" id="chatFloat"><i class="fa-comments-o"></i></a>
            <div class="Float-box chat-form" id="chat-popup">
                <div class="ttl">
                    Chat with travel expert!
                    <a href="#" class="close-btn"><i class="fa-custom-close-icon"></i></a>
                </div>
                <div class="form form-sec">
                    <div class="form-group">
                        <input type="text" placeholder="Full Name" />
                    </div>
                    <div class="form-group">
                        <select class="">
                            <option value="opt1" selected="selected">Select Product</option>
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="row row-sm">
                            <div class="col-xs-12">
                                <div class="row row-sm">
                                    <div class="col-md-3 col-sm-3 col-xs-4 ">
                                        <input type="text" class="form-control" value="+91">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-8">
                                        <input type="text" class="form-control" placeholder="Mobile No. (Must be reachable)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Email (Must be contactable)" />
                    </div>
                    <a href="#chat-sec-popup" class="btn btn-primary" id="chatSec">Initiate Chat</a>
                </div>
            </div>
            <div class="Float-box chat-sec" id="chat-sec-popup">
                <div class="ttl">
                    Chat with travel expert!
                    <a href="#" class="close-btn"><i class="fa-custom-close-icon"></i></a>
                </div>
                <div class="chat-window">
                    <p class="text-center">Questions? We'd love to chat!</p>
                    <div class="chat-msgs-wrap">
                        <div class="chat-msgs">
                            <p><span>Hi there..</span></p>
                        </div>
                    </div>
                    <div class="chatbox">
                        <div class="input-wrap">
                            <input type="text" placeholder="Type here and hit <enter> to chat">
                            <a href="#"><i class="fa-custom-send"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http:/in/en/general/our-offices.shtml" onclick="window.location.href='/in/en/general/our-offices.shtml'"><i class="fa-map-marker"></i></a>
        </li>
    </ul>
    <span class="menuTrigger btn-filter"></span>
</div>