<app-widget></app-widget>
<div class="animated head-tl-link" data-animation="fadeInUp" data-animation-delay="300">
    <div class="container">
        <!--22Mar2019 Start-->
    <div class="top-cont">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/in/en/index.shtml">Home</a></li>
            <li class="breadcrumb-item active">Flights</li>
        </ol>
    </div>
    <!--22Mar2019 End-->
        <h2 class="head-tl">Deals</h2>	
         <!--22Mar2019 Start-->
<div class="head-link"><a href="index-deals.shtml" class="txt-lnk">View all <i class="fa fa-chevron-circle-right"></i></a></div>
<!--22Mar2019 End-->				
        <div class="dest-th-tiles">
            <div class="item wh2 group">
                <a href="#" class="img-sec img-fit">
                    <figure>
                        <img src="../../../assets/resources/images/flights/deals-img-1.jpg" alt="">
                        <span class="off-txt">Upto 20% Discount<sup>*</sup></span>									
                        <figcaption>
                            <div class="desc-box">
                                <h2 class="desc-tl md">International Flight Deals</h2>											
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="item">
                <a href="#" class="img-sec img-fit">
                    <figure>
                        <img src="../../../assets/resources/images/flights/deals-img-2.jpg" alt="">
                        <span class="off-txt">Get <span class="price"><i class="fa-rupee"></i>300</span> Cashback on Jet Airways<sup>*</sup></span>									
                    </figure>
                </a>
            </div>
            <div class="item">
                <a href="#" class="img-sec img-fit">
                    <figure>
                        <img src="../../../assets/resources/images/flights/deals-img-3.jpg" alt="">
                        <span class="off-txt">Upto 5% Off<sup>*</sup></span>
                        <figcaption>
                            <div class="desc-box">
                                <h2 class="desc-tl sm">Domestic Flights</h2>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="item">
                <a href="#" class="img-sec img-fit">
                    <figure>
                        <img src="../../../assets/resources/images/flights/deals-img-4.jpg" alt=""> <span class="off-txt">Flat <span class="price"><i class="fa-rupee"></i>500</span> Off <sup>*</sup></span>
                        <figcaption>
                            <div class="desc-box">
                                <h2 class="desc-tl sm">Discount Offer on Return Flights</h2>

                            </div>
                        </figcaption>
                    </figure>

                </a>
            </div>
            <div class="item">
                <a href="#" class="img-sec img-fit">
                    <figure>
                        <img src="../../../assets/resources/images/flights/deals-img-5.jpg" alt=""> <span class="off-txt">Upto 10% Off<sup>*</sup></span>
                        <figcaption>
                            <div class="desc-box">
                                <h2 class="desc-tl sm">Flight + Hotel Deals</h2>

                            </div>
                        </figcaption>
                    </figure>

                </a>
            </div>
        </div>
    </div>
</div>